.header{
    background-color: rgb(147, 222, 112);
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px 15px 15px;
    
    
}
.img{
    height: 4rem;
}

.navLinks{
    display: flex;
    column-gap: 15px;
        
}
.navLinks > a{
    text-align: center;
    width: 65px;
    text-decoration: none;
    background-color: rgb(52, 213, 189);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px -3px 3px 1px rgb(194, 239, 239);
    color: rgb(113, 92, 92);
}