.header{
    background-color: rgb(147, 222, 112);
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px 15px 15px;
    margin-bottom: 50px;
    
}
.img{
    height: 4rem;
}

.navLinks{
    display: flex;
    column-gap: 15px;
        
}
